@using Amadon.Controls
@using AmadonStandardLib.Helpers;
@using Blazorise
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<ModalProvider />

<div class="flex-grow">
    @if (ShowNavBar)
    {
        <TopNavbar />
        <div class="jumptop" />
    }
    @Body
</div>

@code
{
    private bool ShowNavBar = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        AmadonEvents.OnInitializationSuccesfully += AmadonEvents_OnInitializationSuccesfully;
    }

    private void AmadonEvents_OnInitializationSuccesfully()
    {
        ShowNavBar = true;
        StaticObjects.Parameters.AppInitialized = true;
        StateHasChanged();
        NavigationManager.NavigateTo("/");
    }
}
